{% extends  'base.html' %}
{% load static %}

{% block extJs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'app/buygoodsinfo/payPage.js' %}"></script>
{% endblock %}

{% block content %}
    <div style="height: 50px"></div>
    <ul id="goodList" orderNum="{{ orderNum }}">
    <span><b><h1>支付页面</h1></b></span>
    {% for orderGood in orderGoods %}
        <li class="buygoods" goodsProductid="{{ orderGood.og_good.productid }}" num="{{ orderGood.og_num }}">
            <span>订单号：{{ orderGood.og_order.o_number }}</span>
            <img src="{{ orderGood.og_good.productimg }}" alt="">
            <span>数量：{{ orderGood.og_num }}</span>
        </li>
    {% endfor %}
    </ul>
    <button type="button" id="nopay" class="btn btn-default btn-lg btn-block">取消支付</button>
    <button type="button" id="pay" class="btn btn-primary btn-lg btn-block">马上支付</button>
{% endblock %}
